# Python Basics: A Comprehensive Overview  

Welcome to this notebook on **Python Basics**! This notebook is designed to provide a foundational understanding of Python by covering its core topics step by step. Whether you're a beginner or need a quick refresher, this guide will walk you through essential concepts with examples and explanations.  

### Topics Covered:  
1. **Data Types**  
    - Numbers  
    - Strings  
    - Printing  
    - Lists  
    - Dictionaries  
    - Booleans  
    - Tuples  
    - Sets  
2. **Comparison Operators**  
3. **Control Flow Statements**  
    - `if`, `elif`, `else` Statements  
4. **Loops**  
    - `for` Loops  
    - `while` Loops  
5. **Useful Functions**  
    - `range()`  
    - List Comprehension  
6. **Functions and Expressions**  
    - Defining Functions  
    - Lambda Expressions  
    - Using `map()` and `filter()`  
7. **Methods**  

By the end of this notebook, you will have a solid understanding of these topics and be ready to move on to more advanced Python concepts. Let's get started! ðŸš€

**Basic operartions**

In [2]:
1+1

2

In [4]:
1-1

0

In [6]:
1*2

2

In [8]:
2/1

2.0

In [10]:
2%1

0

In [15]:
# Power
2**3

8

In [21]:
# Default operation order by python / your own operation order using Parentheses
2+15/5*2+2

10.0

In [23]:
(2-4)*(2+4)

-12

## Variables  

In this section, we will cover how to assign values to variables and the rules for naming them properly.  

### Rules for Variable Names:  
- **Start with a lowercase letter:** Always begin variable names with a lowercase letter.  
- **Use underscores to separate words:** For multi-word variable names, use underscores (e.g., `my_variable`) to improve readability.  
- **Do not start with numbers:** Variable names cannot start with numbers. Python will raise an `invalid decimal literal` error if you try.  
- **Avoid special symbols:** Variable names cannot begin with special symbols (e.g., `@`, `#`, `$`). Python will raise an `invalid syntax` error in such cases.  

Below, youâ€™ll see examples of valid and invalid variable names.

In [29]:
var =3

In [41]:
x = 2
y=4

In [43]:
x+y

6

In [49]:
# Assign and reassign
x = x+x

In [51]:
x

8

In [63]:
my_variable = 121

In [65]:
111var = 33

SyntaxError: invalid decimal literal (1221657576.py, line 1)

In [67]:
`var = 33

SyntaxError: invalid syntax (2537844640.py, line 1)

## Strings

In [72]:
# ways to Creating strings
'single quote'

'single quote'

In [74]:
"This is a string"

'This is a string'

In [76]:
# You can wrapp double quote around single quote 
"I can't go"

"I can't go"

In [78]:
# Printing strings
x='hello'

In [80]:
# It will be shown on out indicator
x

'hello'

In [86]:
# Using `print` Removes Indicators and Single Quotes from Output
print(x)

hello

In [104]:
# Formatting print statement
num =123
name='Sam'

In [106]:
# The .format() method allows you to pass variable names in the order you want them to fill the curly brackets.
'My name is {} and my number is {}'.format(name, num)

'My name is Sam and my number is 123'

In [108]:
print('My name is {} and my number is {}'.format(name,num))

My name is Sam and my number is 123

In [110]:
#  Passany variable into curly bracket
print('My name is {one} and my number is {two}'.format(one=name,two=num))

My name is Sam and my number is 123

In [112]:
print('My name is {one} and my number is {two} and my postcode is {three}'.format(
    one=name,two=num,three='BH'))

My name is Sam and my number is 123 and my postcode is BH

**Indexing Strings**

In [147]:
#  ss is a sequence of letters, each element is a letter
ss='Hello'

In [121]:
# I can grab specific element from that sequence of characters by using square bracket notation
ss[0]

'H'

In [129]:
ss[4]

'o'

In [133]:
# slice notation to grab slices of the string by slice syntax
# starting at zero, grab everything beyond it
ss[0:]

'Hello'

In [137]:
ss[:]

'Hello'

In [155]:
# Grab everything up to but not including the character element at index 3
ss[:3]

'Hel'

In [159]:
# set start point and endpoint
ss[0:3]

'Hel'

In [161]:
ss[1:3]

'el'

In [125]:
ss[:-1]

'Hell'

In [127]:
ss[-1:]

'o'

## **Lists**

In [176]:
# Sequence of elements in a set of square brackets separated by commas 
# Lists can take any data type  
#  A list is just like a sequence is
[1,2,3]

[1, 2, 3]

In [166]:
['a','b','c']

['a', 'b', 'c']

In [168]:
my_list = ['a','b','c']

In [170]:
my_list

['a', 'b', 'c']

In [172]:
# Add a new element to my_list
my_list.append('d')

In [174]:
my_list

['a', 'b', 'c', 'd']

In [178]:
# Grabbing the first item in the list
my_list[0]

'a'

In [184]:
my_list[:2]

['a', 'b']

In [186]:
my_list[1:3]

['b', 'c']

In [188]:
# Reassign positions using this index position
my_list[0] = 'z'

In [190]:
my_list

['z', 'b', 'c', 'd']

In [192]:
# Nest list inside of each other
nest = [1,2,[3,4]]

In [194]:
nest

[1, 2, [3, 4]]

In [200]:
nest[2]

[3, 4]

In [196]:
# grabbing 4 in the list
nest[2][1]

4

In [202]:
nested_list = [1,2,3,[4,5,['target']]]

In [204]:
nested_list[3]

[4, 5, ['target']]

In [211]:
nested_list[3][2]

['target']

In [213]:
nested_list[3][2][0]

'target'

## Dictionaries  

In Python, **dictionaries** are powerful and flexible data structures that store data in key-value pairs, similar to hash tables in computer science. They are highly efficient for lookups and allow for dynamic data manipulation. Here's a breakdown of their key features:

### Key Features of Dictionaries:  
- **Key-Value Pair Storage:**  
  - Dictionaries store elements as `key:value` pairs, where each key acts as a unique identifier for its corresponding value.  

- **No Sequence or Order:**  
  - Unlike lists or tuples, dictionaries do not maintain the order of elements (prior to Python 3.7). They simply map keys to values, making them efficient for retrieving data.  

- **Dynamic Value Types:**  
  - A dictionary can store values of any data type, including numbers, strings, lists, or even other dictionaries.  

- **Unordered Structure:**  
  - Prior to Python 3.7, dictionaries did not guarantee order, but starting from Python 3.7, dictionaries preserve the insertion order by default.  

### Scientific Insight:  
Dictionaries are implemented as **hash maps** in Python. Hash maps use a hash function to compute an index for each key, allowing for fast data access in \( O(1) \) time on average. This efficiency makes dictionaries an ideal choice for situations where quick lookups or key-based access to data are required.

### Example:
```python
# Creating a simple dictionary
my_dict = {
    "name": "Alice",
    "age": 30,
    "hobbies": ["reading", "hiking", "gardening"]
}

# Accessing values using keys
print(my_dict["name"])  # Output: Alice

In [231]:
d={'key1':'value','key2':123}

In [233]:
d

{'key1': 'value', 'key2': 123}

In [237]:
# get the elements through their elements by passing the key corresponding to that value
d['key1']

'value'

In [1]:
d={'k1':[1,2,3]}

In [3]:
d

{'k1': [1, 2, 3]}

In [7]:
d['k1']

[1, 2, 3]

In [11]:
# As we have the key by calling d['k1'] we can do normal indexing
d['k1'][2]

3

In [13]:
# We can into the list and then get the elements, use [] notation to grab everything off of it
# or grab data as we did like the previous code box along the same line "d['k1'][2]"
my_list=d['k1']

In [15]:
my_list

[1, 2, 3]

In [17]:
my_list[2]

3

In [19]:
# A dictionary nested in another dictionary
d={'k1':{'innerkey':[1,2,3]}}

In [21]:
d['k1']

{'innerkey': [1, 2, 3]}

In [23]:
# Lets grab member 3
d['k1']['innerkey'][2]

3

In [25]:
# Or with a list
my_list = d['k1']['innerkey']

In [27]:
my_list

[1, 2, 3]

In [29]:
my_list[2]

3

## Boolean

In [33]:
True

True

In [35]:
False

False

## Tuples  

Tuples in Python are a fundamental data type used to store a sequence of objects. They share similarities with lists but have key differences that make them unique and useful in specific situations.  

### Key Characteristics of Tuples:  
- **Defined with Parentheses:** Tuples use `()` instead of square brackets `[]` used for lists.  
- **Immutable:** Once a tuple is created, its elements cannot be changed, added, or removed. This immutability makes tuples useful for fixed data that should remain constant throughout the program.  
- **Ordered:** Like lists, tuples maintain the order of elements, allowing indexing and slicing operations.  

### Scientific Explanation of Tuples and Immutability:  
- **Immutability and Memory Efficiency:** Because tuples are immutable, Python can optimize their memory usage. This makes them more efficient than lists in scenarios where data does not need to be modified. Tuples are also hashable, which allows them to be used as keys in dictionaries or stored in sets (unlike lists).  
- **Use Cases:** Tuples are ideal for representing fixed collections of data, such as coordinates, RGB color values, or days of the week, where the data should remain constant.  

### Comparison Between Tuples and Lists:  
- **Tuples are Immutable:** Elements cannot be modified after creation.  
- **Lists are Mutable:** Elements can be added, removed, or changed.

In [38]:
my_list= [1,2,3]

In [40]:
my_list[0]

1

In [42]:
t=(1,2,3)

In [44]:
t[0]

1

In [46]:
my_list[0]= 'NEW'

In [48]:
my_list

['NEW', 2, 3]

In [50]:
t[0]='NEW'

TypeError: 'tuple' object does not support item assignment

In [53]:
# Tuple example
my_tuple = (1, 2, 3)
print(my_tuple[0])  # Accessing the first element

# List example
my_list = [1, 2, 3]
my_list[0] = 100  # Modifying the first element

1

## Sets

In Python, a **set** is a data structure that represents a collection of **unique, unordered elements**. Unlike lists or tuples, sets do not allow duplicate values. This makes them particularly useful for tasks like removing duplicates or performing mathematical set operations.

### Key Characteristics of Sets:
- **Unique Elements**: Each element in a set must be distinct. If duplicates are added, they will automatically be removed.  
- **Unordered**: Sets do not maintain any specific order for the elements.  
- **Mutable**: You can add or remove elements from a set, although the elements themselves must be immutable (e.g., strings, numbers, tuples).

### Scientific Analogy:
Think of a set in Python as a "mathematical set" in science, where:  
- The set contains only distinct members (no duplicates).  
- Operations like union, intersection, and difference can be performed just like in mathematical set theory.

Hereâ€™s a well-structured and detailed version for your Jupyter Notebook:

```markdown
## Sets  

### What is a Set?  
- In Python, a **set** is a built-in data type that represents a collection of **unique and unordered elements**.  
- Unlike lists or tuples, sets automatically discard duplicate values, ensuring each element is unique.  
- Sets are based on the concept of mathematical sets, which allow operations like union, intersection, and difference.  

### Creating a Set  
- You can create a set using the `set()` method or by using curly braces `{}`.  
- **Example:**  
    ```python
    my_set = {1, 2, 3, 4}
    another_set = set([3, 4, 5, 6])  # Convert a list into a set
    print(my_set, another_set)
    ```

### Key Features of Sets  
- **Unique Elements:** If you attempt to add an element that already exists in the set, it will not raise an error but will silently ignore the duplicate.  
    ```python
    my_set = {1, 2, 3}
    my_set.add(3)  # Adding a duplicate
    print(my_set)  # Output: {1, 2, 3}
    ```

- **Unordered:** The order of elements in a set is not guaranteed.  

### Common Set Methods and Operations  
- **`add()`**: Adds a single element to the set.  
    ```python
    my_set.add(5)
    ```

- **`remove()`**: Removes a specific element from the set. Raises an error if the element is not found.  
    ```python
    my_set.remove(2)
    ```

- **`discard()`**: Removes a specific element but does not raise an error if the element is not found.  
    ```python
    my_set.discard(10)  # No error even if 10 is not in the set
    ```

- **`union()`**: Returns a new set with elements from both sets.  
    ```python
    set1 = {1, 2, 3}
    set2 = {3, 4, 5}
    print(set1.union(set2))  # Output: {1, 2, 3, 4, 5}
    ```

- **`intersection()`**: Returns a set of elements common to both sets.  
    ```python
    print(set1.intersection(set2))  # Output: {3}
    ```

- **`difference()`**: Returns a set of elements present in the first set but not in the second.  
    ```python
    print(set1.difference(set2))  # Output: {1, 2}
    ```

- **`clear()`**: Removes all elements from the set, leaving it empty.  
    ```python
    my_set.clear()
    ```

- **`len()`**: Returns the number of elements in a set.  
    ```python
    print(len(my_set))
    ```

### Scientific Explanation  
In computer science, sets are highly efficient for membership testing and eliminating duplicates due to their underlying **hash table** implementation. This ensures constant-time complexity \(O(1)\) for operations like `add`, `remove`, and `lookup`. Their unordered nature comes from the way elements are hashed and stored in memory, making them ideal for tasks where uniqueness and performance are crucial.  

```markdown
### Summary  
Sets in Python are versatile and useful for ensuring unique collections of data, performing mathematical operations, and achieving high-performance lookups.
```

In [56]:
{1,2,3}

{1, 2, 3}

In [58]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [83]:
set([1,2,3,5,7,7,7,7,7,454,4])

{1, 2, 3, 4, 5, 7, 454}

In [85]:
s = {1,2,3}

In [87]:
s.add(5)

In [89]:
s

{1, 2, 3, 5}

In [ ]:
# IF you try to add an item which is already exists in the set, it won't retreive an error but it will keep it the same
s.add(5)

In [4]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

In [6]:
my_set

{1, 2, 3, 4, 5}

In [8]:
# Adding a new element
my_set.add(6)

In [10]:
my_set

{1, 2, 3, 4, 5, 6}

In [12]:
# Trying to add a duplicate element
my_set.add(3)  # The set remains unchanged because 3 is already in the set

In [21]:
my_set

{1, 2, 3, 5, 6}

In [25]:
# Removing an element
my_set.remove(2)

In [27]:
my_set

{1, 3, 5, 6}

In [29]:
# Checking the contents of the set
print(my_set)  # Output: {1, 3, 5, 6}

{1, 3, 5, 6}

## Comparison Operators

Comparison operators are used to compare values. These comparisons return a Boolean value: `True` or `False`.

### Common Comparison Operators
- `==` : Equal to  
    - Checks if two values are the same.
    ```python
    5 == 5  # True
    ```
- `!=` : Not equal to  
    - Checks if two values are different.
    ```python
    5 != 3  # True
    ```
- `>` : Greater than  
    - Checks if the left value is greater than the right.
    ```python
    7 > 3  # True
    ```
- `<` : Less than  
    - Checks if the left value is less than the right.
    ```python
    2 < 5  # True
    ```
- `>=` : Greater than or equal to  
    - Checks if the left value is greater than or equal to the right.
    ```python
    5 >= 5  # True
    ```
- `<=` : Less than or equal to  
    - Checks if the left value is less than or equal to the right.
    ```python
    4 <= 6  # True
    ```

### Combining Comparison Operators
You can combine comparisons with logical operators to form complex conditions:
- `and` : All conditions must be `True`.
    ```python
    (5 > 3) and (2 < 4)  # True
    ```
- `or` : At least one condition must be `True`.
    ```python
    (5 > 3) or (2 > 4)  # True
    ```
- `not` : Negates the condition.
    ```python
    not (5 > 3)  # False
    ```
### Special Notes
1. Python comparison operators can also be used with strings:
    ```python
    "apple" < "banana"  # True (alphabetical comparison)
    ```
2. Chained comparisons are also valid:
    ```python
    3 < 5 < 7  # True
    ```
    This is equivalent to `(3 < 5) and (5 < 7)`.

## Use Cases
- **Conditional Statements**: Used in `if`, `elif`, and `else` statements to control the flow of the program.
    ```python
    age = 18
    if age >= 18:
        print("You are an adult!")
    else:
        print("You are underage!")
    ```


Experiment with these operators to better understand how they work!

In [32]:
1>2

False

In [64]:
1<2

True

In [68]:
1>=1

True

In [71]:
1<=5

True

In [75]:
7==7

True

In [77]:
1==7

False

In [79]:
'Sam' == 'Shab'

False

In [41]:
'Sam' != 'Shab'

True

## Logic Operators

In [43]:
# 5 > 3 and 2 < 4
(5 > 3) and (2 < 4)

True

In [45]:
(5 > 3) or (2 > 4)

True

In [47]:
not (5 > 3)

False

In [51]:
(1<2) or (2>3) or (1==1)

True

In [49]:
True and True

True

In [53]:
True and False

False

In [55]:
True or False

True

In [57]:
True or True

True

## if, elif, else Statements

Control flow in Python allows you to make decisions and execute code conditionally based on certain conditions. The `if`, `elif`, and `else` statements are fundamental building blocks for this.

**Python uses indentation (whitespace) to define blocks of code instead of using curly braces `{}`.**


### **Syntax**
```python
if condition:
    # Code to execute if condition is True
elif another_condition:
    # Code to execute if the first condition is False and this one is True
else:
    # Code to execute if none of the above conditions are True
```

### **Key Points**
- The `if` statement checks a condition. If it evaluates to `True`, the indented code block under it runs.
- The `elif` (short for "else if") statement checks another condition if the `if` condition is `False`.
- The `else` statement executes a block of code if none of the preceding conditions are `True`.
- Indentation is crucial in Python. Blocks of code must be indented to define their scope within `if`, `elif`, or `else`.

### **Tips for Writing Conditional Statements**
1. Always ensure conditions are clear and logical.
2. Conditions can involve:
   - Comparison operators (`==`, `!=`, `<`, `>`, `<=`, `>=`)
   - Logical operators (`and`, `or`, `not`)
3. Use `elif` for multiple conditions instead of chaining multiple `if` statements.
4. The `else` block is optional but can be helpful for catching all other cases.



### **Common Pitfalls**
- Forgetting to use proper indentation will raise an `IndentationError`.
- Using the wrong logical or comparison operators.
- Over-complicating conditions when simpler ones would suffice.

In [65]:
if 1<2:
    print('True')

True

In [67]:
if True:
    x=1+5

In [69]:
x

6

In [73]:
False
if True:
    print('First')
if False:
    print('Last')

First

In [75]:
condition = True 
if condition:
    print('First')
else:
    print('Last')

First

In [77]:
user_input = input("Enter 'yes' to print First, anything else for Last: ").lower()
if user_input == 'yes':
    print('First')
else:
    print('Last')

Enter 'yes' to print First, anything else for Last:  else

Last

In [81]:
# Python uses indentation (whitespace) to define blocks of code instead of using curly braces `{}`.
# Multiple condition
# We can keep stacking as many elif as we want
x = 2

if x > 15:
    print("x is greater than 15")
elif x == 10:
    print("x is equal to 10")
elif x== 2:
    print('Wotcha')
else:
    print("x is less than 10")

Wotcha

Since one condition is met (5 == 5), Python does not evaluate the remaining elif or else blocks. This is because in an if-elif-else chain, only one block of code is executed, and the rest are skipped once a True condition is found.

In [85]:
if 1 == 2:
    print('first')
elif 5==5:
    print('second')
elif 3 == 3:
    print('middle')
else:
    print('Last')

second

### **Nested if Statements**
You can nest `if` statements to handle more complex conditions:

In [89]:

x = 20
y = 15

if x > 10:
    if y > 10:
        print("Both x and y are greater than 10")

Both x and y are greater than 10

### **Practice Exercise**
Write a program that categorizes a number as:
- "Positive and even"
- "Positive and odd"
- "Negative"
- "Zero"

In [106]:
x = int(input("Enter a number: "))
if x%2==0 and x>0:
    print('x = {one} is Positive and even'.format(one=x))
if x%2!=0 and x>0:
    print('x = {one} is Positive and odd'.format(one=x))
if x<0:
    print('x = {one} is Negative'.format(one=x))
if x==0:
    print('x = {one} is Zero'.format(one=x))

Enter a number:  200

x = 200 is Positive and even

In [108]:
x = int(input("Enter a number: "))
if x%2==0 and x>0:
    print('x = {one} is Positive and even'.format(one=x))
elif x>0:
    print('x = {one} is Positive and odd'.format(one=x))
elif x<0:
    print('x = {one} is Negative'.format(one=x))
else:
    print('x = {one} is Zero'.format(one=x))

Enter a number:  23

x = 23 is Positive and odd

## For Loops

A **`for` loop** is used to iterate over a sequence (like a list, tuple, dictionary, set, or string) and perform a block of code for each element in the sequence.

---

### Syntax of a For Loop

```python
for item in iterable:
    # Code block to execute
```
`item:` A variable that takes on the value of each element in the sequence during iteration.
`iterable`: A sequence or collection you want to loop through (e.g., list, string, or range)

### 1. Looping Through a List

In [133]:
seq=[1,2,3,4]

In [135]:

for i in seq:
    print('item no {one}:'.format(one=i),i)

item no 1: 1
item no 2: 2
item no 3: 3
item no 4: 4

In [137]:
# Simplifying index
seq = [5, 6, 7, 8, 9]

for index, value in enumerate(seq):
    print(f"Index {index}: Value {value}")

Index 0: Value 5
Index 1: Value 6
Index 2: Value 7
Index 3: Value 8
Index 4: Value 9

### 2. For Loops with Two Variables: index and item
In Python, you can use a `for` loop to iterate over objects that return **multiple values at each iteration**, such as the `enumerate()` function, where you can iterate over both the index and the item of a sequence using the enumerate() function. 
This is because Python supports **tuple unpacking** in loops.
This is useful when you need to keep track of the position of each item while processing the items themselves.

#### What is enumerate()?
The enumerate() function takes an iterable (e.g., a list, string, or tuple) and returns an enumerate object, which contains tuples. Each tuple consists of:

* The index of the current element.
* The value (or item) from the iterable.


When using the `enumerate()` function, it returns a sequence of tuples:
- The first value in each tuple is the **index**.
- The second value in each tuple is the corresponding **item** from the iterable.

By defining **two variables** in the `for` loop, you unpack each tuple into its components directly. This makes the code cleaner and easier to read.

---

In [166]:
seq = ['apple', 'banana', 'cherry']

for index, item in enumerate(seq):
    print(f"Index: {index}, Item: {item}")

Index: 0, Item: apple
Index: 1, Item: banana
Index: 2, Item: cherry

1. The `enumerate()` function converts the **list** into an **enumerate object**, like this:
```python
[(0, 'apple'), (1, 'banana'), (2, 'cherry')]
```
2. The `for` loop iterates through these tuples.
3. At each iteration:
    * The first variable (e.g., `index`) gets the index value (e.g., `0`, `1`, `2`).
    * The second variable (e.g., `item`) gets the corresponding item from the sequence (e.g., `'apple'`, `'banana'`, `'cherry'`).

In [145]:
seq=[3,4,7,8,6]

In [173]:
for index,item in enumerate(seq,start=1):
    print(f"Index {index}: value {item}")

Index 1: value apple
Index 2: value banana
Index 3: value cherry

### Some more examples

This structure is useful when:

**1. You need to keep track of an index while looping through items.**

In [177]:
tasks = ['email', 'meeting', 'coding']
for idx, task in enumerate(tasks, start=1):  # Start index at 1
    print(f"Task {idx}: {task}")

Task 1: email
Task 2: meeting
Task 3: coding

**2. You need to modify items by their index.**

In [179]:
nums = [10, 20, 30]
for i, num in enumerate(nums):
    nums[i] = num * 2  # Double the value
print(nums)

[20, 40, 60]

### Additional Examples of Two-Variable Loops
#### Iterating over dictionaries:

In [190]:
d={'key1':'Sam','key2':1111,'key3':'UK'}

In [193]:
for key,value in d.items():
    print(f"index is {key} and item is {value} ")

index is key1 and item is Sam
index is key2 and item is 1111
index is key3 and item is UK

### 3. Looping Through a String

In [149]:
word = "Python"
for char in word:
    print(char)

P
y
t
h
o
n

### 4. Using range() in a For Loop
The range() function generates a sequence of numbers:
```python
range(start, stop, step)
```
- `start`: The starting value (default is 0).
- `stop`: The endpoint (not inclusive).
- `step`: The difference between each number (default is 1).

In [156]:
for i in range(1,4):
    print(i)

1
2
3

### 5. Nested For Loops
You can nest `for` loops inside each other to work with multiple levels of iteration.

In [159]:
for i in range(1, 4):
    for j in range(1, 4):
        print(f"i = {i}, j = {j}")

i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3

### 6. Advanced Applications: Combining Lists with zip()
When working with multiple lists, you can use zip() to iterate over their elements in parallel, or simply to iterate over multiple iterables:

In [201]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]

for name, age in zip(names, ages):
    print(f"{name} is {age} years old.")

Alice is 25 years old.
Bob is 30 years old.
Charlie is 35 years old.

### Key Benefits of Using Two Variables in Loops:
* Cleaner and more Pythonic code.
* Direct access to both the index and the value without manually tracking them.
* Works seamlessly with data structures like lists, dictionaries, and tuples.

In [ ]:
## While Loop

## `while` Loops in Python

A `while` loop in Python allows you to execute a block of code repeatedly **as long as a condition is true**. This is particularly useful when the number of iterations is not known beforehand.

### Syntax of a `while` Loop
```python
while condition:
    # Code to execute
```
- **`condition`**: The loop continues to run as long as this evaluates to `True`.
- To avoid an **infinite loop**, ensure the condition will eventually become `False`.

---



---

---

### Key Points to Remember:
1. **Infinite Loops**: Be cautious of loops where the condition never becomes `False`. These can freeze your program.
2. **Control Statements**: Use `break` to exit a loop and `continue` to skip to the next iteration.
3. **Condition-Driven**: `while` loops are best suited for scenarios where the termination condition depends on dynamic changes during the loop.

--- 

Experiment with these examples to master the `while` loop in Python!

### 1: Counting with a while Loop

In [5]:
count = 0

while count < 5:
    print(f"Count: {count}")
    count += 1  # Increment count to avoid an infinite loop

1
2
3
4

#### Explanation:
1. The loop starts with `count = 0`.
2. The condition `count < 5` is checked before each iteration.
3. Inside the loop, `count` is printed and incremented by 1.
4. When `count` reaches 5, the condition becomes `False`, and the loop stops.

### 2. Using a `while` Loop with User Input

In [9]:
password = ""

while password != "open123":
    password = input("Enter the password: ")
    if password == "open123":
        print("Access granted!")
    else:
        print("Wrong password. Try again.")

Enter the password:  open123

Access granted!

### 3. Breaking Out of a `while` Loop
You can use the `break` statement to exit a loop early.

In [15]:
num = 0

while True:  # Infinite loop
    print(f"Current number: {num}")
    num += 1
    if num == 5:  # Exit the loop when num reaches 5
        print("Breaking out of the loop!")
        break

Current number: 0
Current number: 1
Current number: 2
Current number: 3
Current number: 4
Breaking out of the loop!

### Example 4: Skipping Iterations with `continue`
You can use the `continue` statement to skip the rest of the loop's body and proceed to the next iteration.

In [19]:
num = 0

while num < 10:
    num += 1
    if num % 2 == 0:  # Skip even numbers
        continue
    print(f"Odd number: {num}")

Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9

## Common Python Built-in Functions

Python provides a variety of built-in functions to perform common tasks. 
These built-in functions are extremely helpful in day-to-day programming. Experiment with them to understand their usage better!

Here are a few essential ones that are frequently used:

---

### 1. **`range()`**

The `range()` function is used to generate a sequence of numbers. It is commonly used in loops to iterate over a specific range of numbers.
#### Syntax:
```python
range(start, stop, step)
```

- `start` (optional): The starting number (default is `0`).
- `stop`: The number to stop at (exclusive).
- `step` (optional): The step size (default is `1`).

In [44]:
for i in range(0,3):
    print(i)

0
1
2

In [46]:
# Generating a list, passing range into list function
list(range(0,3))

[0, 1, 2]

In [54]:
# A quick way of executing a certain number of times
# By default starting number is 0
my_list=list(range(10))

In [56]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
seq=[6,7,8,9,10]
for i in range(1,3):
    print(seq[i])

7
8

In [60]:
# printing odd number in range(1,10)
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

### 2. **`len()`**

The `len()` function returns the number of items in an object (e.g., a string, list, or tuple).

In [63]:
my_list = [10, 20, 30, 40]
print(len(my_list))

4

### 3. **`type()`**

The `type()` function returns the type of the object.

In [66]:
x = 42
print(type(x))  # Output: <class 'int'>

<class 'int'>

### 4. **`max()` and `min()`**

- **`max()`**: Returns the largest item in an iterable or the largest of two or more arguments.
- **`min()`**: Returns the smallest item in an iterable or the smallest of two or more arguments.

In [69]:
numbers = [5, 12, 7, 3, 15]
print(max(numbers))
print(min(numbers))

15
3

### 5. **`sum()`**

The `sum()` function adds all the items in an iterable.

In [72]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

### 6. **`abs()`**

The `abs()` function returns the absolute value of a number (i.e., the non-negative value).

In [75]:
print(abs(-10))

10

### 7. **`sorted()`**

The `sorted()` function returns a sorted list from the given iterable.

In [78]:
unsorted_list = [5, 3, 8, 1]
print(sorted(unsorted_list))

[1, 3, 5, 8]

### 8. **`round()`**

The `round()` function rounds a number to the nearest integer or to the specified number of decimal places.

In [81]:
print(round(3.14159, 2))

3.14

### 9. **`enumerate()`**

The `enumerate()` function adds an index to an iterable and returns it as an enumerate object.

In [86]:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
    print(f"{index+1}: {fruit}")

1: apple
2: banana
3: cherry

### 10. **`zip()`**

The `zip()` function combines two or more iterables into tuples.

In [89]:
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 90, 95]
for name, score in zip(names, scores):
    print(f"{name}: {score}")

Alice: 85
Bob: 90
Charlie: 95

## List Comprehension 

List comprehension is a powerful and concise way to create lists in Python. It saves you from writing lengthy `for` loops by condensing the process into a single, readable line of code. 

### Why Use List Comprehension?

- **Saves time**: Reduces the amount of code you need to write.
- **Improves readability**: Clear and concise for simple transformations or filters.
- **Elegant syntax**: Perfect for scenarios where a list needs to be created from an iterable.

### Features of List Comprehension
- **Compact Syntax**
- **Improved Readability**
- **Filtering with Conditions**
- **Conditional Expressions (`if-else`)**
- **Combining Multiple Loops**

---

### Syntax of List Comprehension

The general structure of a list comprehension is:

```python
[expression for item in iterable if condition]
```

- **expression**: Operation or transformation applied to each item.
- **item**: Represents the element from the iterable.
- **iterable**: The source you are iterating over (e.g., list, range, string).
- **if condition** *(optional)*: A filter to include only certain elements.

---


List comprehension is a quick, clean, and Pythonic way to handle list creation. It not only saves you from writing redundant lines of code but also keeps your logic clean and elegant!

---
Benefits of List Comprehensions
Conciseness: Reduces multiple lines of code into one.
Readability: More intuitive for simple transformations and filters.
Performance: Generally faster than traditional loops.

### Without List Comprehension

Consider this traditional way to create a list of squares:

In [100]:
squares = []
for x in range(10):
    squares.append(x**2)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### With List Comprehension

The same result can be achieved more concisely using list comprehension, which is like writing a for loop but in reverse.  
1. Start by placing everything **before the colon** in the `for` loop inside square brackets.  
2. Then, take the operation you'd typically append (e.g., `x**2`) and put it **before the `for` loop** inside the brackets.  

This way, the entire operation is condensed into a single line, making the code cleaner. For example, you can think of it as saying:  
*"Give me the square of each number (`x**2`) for every number (`num`) in `x`."*

In [110]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [114]:
my_list = [1,2,3,4,5,6,7,8,9]

In [120]:
squares= [i**2 for i in my_list]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Key Features

#### 1. **Condensed Loop**: One line to define the operation, loop, and condition.
#### 2. **Optional Condition**: Add an `if` to filter elements during creation:
When you only have an if statement, it acts as a filter. Only items that satisfy the condition are included in the final list. The syntax places the if condition after the loop:

In [107]:
evens = [x for x in range(10) if x % 2 == 0]
print(evens)

[0, 2, 4, 6, 8]

#### 3. **Supports Nested Loops**:
List comprehensions can include nested loops to work with multiple iterables.

In [124]:
pairs = [(x, y) for x in range(1, 3) for y in range(3, 5)]
print(pairs)

[(1, 3), (1, 4), (2, 3), (2, 4)]

#### 4. Transforming a List
List comprehensions are also useful for transforming data.

In [127]:
# Convert a list of words to uppercase
words = ['hello', 'world', 'python']
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

['HELLO', 'WORLD', 'PYTHON']

#### 5. Using if-else in the Expression
You can use a conditional expression inside the comprehension to assign values based on a condition.
When you have an if-else statement, you're transforming each element in the list, not just filtering it. This requires evaluating every item in the loop and deciding between two outcomes (one for if and one for else). In this case, the if-else expression must go before the loop, as it produces a value for each item.

In [130]:
# Label numbers as "Even" or "Odd"
labels = ['Even' if x % 2 == 0 else 'Odd' for x in range(5)]
print(labels)

['Even', 'Odd', 'Even', 'Odd', 'Even']

### Why the difference?
The key distinction is:

- `if` alone: Acts as a filter and determines which elements are included in the list.
- `if-else`: Acts as a transformation, producing a value for every element in the loop.
---
The syntax reflects their roles:
* Filters (if alone) apply after the loop.
* Transformations (if-else) must be defined before the loop, as they decide what value to include for each element.

### Practice Challenge:
1. Create a list of all numbers divisible by 3 from 1 to 20.
2. Generate a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

In [155]:
# 
divisible_by_3=[i for i in range(1,21) if i%3==0 ]
print(divisible_by_3)

[3, 6, 9, 12, 15, 18]

In [161]:
square_tuple=[(i,i**2) for i in range(1,6)]
print(square_tuple)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]