# Pandas -> Series

In this notebook wev will discuss Series datatypes, and how they interact with pandas dataframes.
Series are very similar to Numpy arrays, what is differeniate these two is that a series can have access to lables, meaning it can be indexed.
A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type. [1]

In [1]:
import numpy as np
import pandas as pd

### Creating series

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
calories = {"apple": 70, "fried egg": 200, "pasta": 500}

In [25]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

if you do shift+tab on pd.series you will notice pd.Series tales a wide variety of parameter, our focus is on the most important ones DATA and INDEX.

In [26]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

Like numpy array index labeled, meaning you can call that datapoints using labeled index

In [27]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

Dictionaries; A fast way to create Series: when using dictionaries as data, pandas will automatically take the keys of the dictionary set it as index and set the value of the dictionary to the corresponding data point.

In [28]:
pd.Series(calories)

apple         70
fried egg    200
pasta        500
dtype: int64

### Using index

In [29]:
ser1=pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [5]:
ser2=pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [31]:
# These to lines of codes gives the samr output which is the first element of ser2
# ser2['USA']
ser2[0]

1

In [7]:
ser3=pd.Series(labels)
ser3

0    a
1    b
2    c
dtype: object

In [33]:
ser3[0]

'a'

In [9]:
print('First Charcter in this Serie is: ',ser3[0])

First Charcter in this Serie is:  a


### Basic operations to do with Series
for example + will try to matchup the operation based off the index

In [34]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

[1] https://pandas.pydata.org/docs/reference/api/pandas.Series.html
[2] https://www.udemy.com/course/python-for-data-science-and-machine-learning-bootcamp/