In [12]:
import pandas as pd
import sqlite3

In [32]:
df = pd.read_csv('ships_etl.csv')
df

              name        lat        lng
0      Black Pearl  20.664865 -80.709747
1            Cobra  20.664868 -80.709740
2  Flying Dutchman  20.664878 -80.709941
3          Empress        NaN        NaN

In [34]:
# schema = '''
# CREATE TABLE ships (
#     name TEXT,
#     lat FLOAT NOT NULL,
#     lng FLOAT NOT NULL
# );
# '''
schema = '''
CREATE TABLE ships (
    name TEXT,
    lat FLOAT,
    lng FLOAT
);
'''

In [44]:
# db_file = 'ships_etl.db'
conn = sqlite3.connect(db_file)
conn.executescript(schema)

df.to_sql('ships', conn, if_exists='append', index=False)

OperationalError: table ships already exists

In [40]:
try:
    with conn as cur:
        cur.execute('BEGIN')
        df.to_sql('ships_etl', conn, if_exists='append', index=False)
finally:
    conn.close()

ProgrammingError: Cannot operate on a closed database.