# Group By
This method allows us to group rows of data together and call aggregate functions.

In [4]:
import pandas as pd
import numpy as np

In [8]:
data = {'Company': ['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [10]:
df = pd.DataFrame(data=data)

In [13]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [31]:
# Groupby a Company column 
# by_company = df.groupby("Company")
by_comp = df.groupby("Company")

In [37]:
# Now we are ready to use aggregation methods such as mean,...
# by_company.mean()
by_comp.mean(numeric_only=True)

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [41]:
# Returns the result as a Series
df.groupby('Company')['Sales'].mean()

Company
FB      296.5
GOOG    160.0
MSFT    232.0
Name: Sales, dtype: float64

In [43]:
# Returns the result as a DataFrame instead of a Series

df.groupby('Company')[['Sales']].mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0